# TraversalSystem stuff
/TraversalSystem/Python39/
/TraversalSystem/pyinstaller/
/TraversalSystem/main.exe

# Visual Studio stuff
/.vs

# VSCode stuff
/.vscode

# Built installer
/setup/CATSSetup.exe
